
.home_header {
    padding: 100px;
    margin: auto;
    width: 50%;
    text-align: center;

}

.home_header h1 {
    font-weight: 900;
    font-size: 40px;
}

.home_header div {
    font-weight: 500;
    font-size: 20px;
    color: #4f4f4f;

}

.home_middle {
    padding: 100px;
    margin: auto;
    width: 50%;
    text-align: center;

}

.home_middle h2 {
    font-weight: 900;
    font-size: 30px;
}

.home_middle p {
    font-weight:  500;
    font-size: 20px;
    color: #4f4f4f;
}