@import '~antd/dist/antd.css';

.MainHeader {
    display: flex;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px;
}

.logo {
    margin: 5px 5px 10px 10px;
    flex: none;
    width: 40px;
    height: 36px;
    background-color: black;
}

.gnb {
    flex: none;
}


.login {
    width: 40px;
    height: 36px;
    margin: 5px 5px 10px 10px;
    margin-left: auto;
    background-color: black;

}

